{% load static %}
{% include 'layouts/header.html' %}
<section class="under-maintenance-page">
    <div class="main main-tf-wrapper">
        <div class="hightlite-box-area">
            <div class="logo-area">
                <img src="{% static 'assets/img/stellen-profis.svg' %}" alt="Talent Finder">
            </div>
            <div class="tf-heading-content">
                <h3>Talent Finder</h3>
                <div class="sub-heading-content">
                    <p>Site is under development and for any query contact at<span>developer@stellen-profis.ch</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'layouts/footer.html' %}
